<div class="search-div">
  <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
</div>
<div class="mat-elevation-28">
  <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.firstName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lastName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="mobileNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mobileNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="typeOfevent">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type of event</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.typeOfevent}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="typeOfhall">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type of Hall</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.typeOfhall}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="requestDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Request Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.requestDate | date:'MMMM dd yyyy'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <label class="{{element.status}}">{{element.status}}</label>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let row">
              <button mat-icon-button color="link" (click)="doView(row)" matTooltip="View Details"><mat-icon>remove_red_eye</mat-icon></button>
          </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOption]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButton></mat-paginator>
</div>
