.body {
  color: #fff;
  background-color: #19aa8d;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
#exampleModalLongTitle{
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.modal-body{
  color: #000;
  font-size: 14px;
}
p{
  text-align: justify;
}
.form-control, .form-control:focus, .input-group-addon {
  border-color: #e1e1e1;
}
.form-control, .btn {
    border-radius: 3px;
}
mat-form-field{
  width: 100%;
}
button{
  width: 100%;
}
input{
  width: 100%;
}
.signup-form {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form form {
color: #999;
border-radius: 3px;
  margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
  color: #333;
  font-weight: bold;
      margin-top: 0;
  }
  .signup-form hr {
      margin: 0 -30px 20px;
  }
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 13px;
}
.signup-form .form-control {
  min-height: 38px;
  box-shadow: none !important;
}
.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
}
.signup-form input[type="checkbox"] {
  margin-top: 2px;
}
  .signup-form .btn{
      font-size: 16px;
      font-weight: bold;
  background: #19aa8d;
  border: none;
  min-width: 140px;
  }
.signup-form .btn:hover, .signup-form .btn:focus {
  background: #179b81;
      outline: none;
}
.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #19aa8d;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}
.signup-form .fa {
  font-size: 21px;
}
.signup-form .fa-paper-plane {
  font-size: 18px;
}
.signup-form .fa-check {
  color: #fff;
  left: 17px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}
