<div class="body">
  <div class="signup-form">
    <div class="form-group">
      <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <h2>Book your reservation today!</h2>
        <p>Private events typically require advance notice. While the venue may be able to accommodate your event, this form
          is for inquiry only. Your event is not scheduled until you confirmed it with the venue.
        </p>
        <hr>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" placeholder="Reqeust Date" [min]="mindate" formControlName="requestDate"/>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <label class="rt">Request Time:</label>
          <input type="time" formControlName="requestTime">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="FirstName" formControlName="firstName"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="LastName" formControlName="lastName"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile Number" formControlName="mobileNumber"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email"/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Number of guest" formControlName="numberOfguest"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Type of Event*</mat-label>
          <mat-select  formControlName="typeOfevent">
            <mat-option value="Wedding">Wedding</mat-option>
            <mat-option value="Debut">Debut</mat-option>
            <mat-option value="Corporate">Corporate</mat-option>
            <mat-option value="Birthday">Birthday</mat-option>
            <mat-option value="Christening">Christening</mat-option>
            <mat-option value="Others">Others</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Type of Hall*</mat-label>
          <mat-select  formControlName="typeOfhall">
            <mat-option value="Function Hall 1 (up to 150 pax)">Function Hall 1 (up to 150 pax)</mat-option>
            <mat-option value="Function Hall 2 (up to 150 pax)">Function Hall 2 (up to 150 pax)</mat-option>
            <mat-option value="Function Hall 1&2 (up to 300 pax)">Function Hall 1&2 (up to 300 pax)</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width time">
          <textarea matInput cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="5" placeholder="Special Request" formControlName="specialRequest"></textarea>
        </mat-form-field>
        <mat-checkbox>I accept the <a href="#" data-toggle="modal" data-target="#exampleModalLong">terms and conditions.</a></mat-checkbox>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </div>


</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h5>
      </div>
      <div class="modal-body">
        <ul>
          <li>The client agrees to pay the reservation fee amounting to Php10, 000.00 (which shall be deducted to the total amount of the package). The reservation fee will be non-refundable if the client decides to cancel thr event.</li>
          <li>A Php5,000. 00 refundable security deposit will be added in the contract for incidental charges. It can be refunded seven(7) working days after the event.</li>
          <li>The client agrees to pay the full amount (two) 2 weeks before the event.</li>
          <li>The reserved function must be held within the time specified in the proposal. Use of venue in excess of 4 hours shall be charged Php5,000.00/hr.</li>
          <li>If the clients decides to have their ingress prior to the 4 hours given, a corresponding charges will be added:<br>
              <ul>
                <li>Day before the event (8am-5pm) - Php1,000.00</li>
                <li>Night before the event (5pm-9pm) - Php2,000.00</li>
                <li>If prior the 4hrs ingress (same day) - Php500.00/hr</li>
              </ul>
          </li>
          <li>There will be electrical charges for the following:<br>
            <ul>
              <li>Use of Led Wall - Php5,000.00</li>
              <li>Mobile Bar - Php1,000. 00</li>
              <li>Food Cart - Php1,000.00</li>
            </ul>
          </li>
          <li>Lounge/bridal room can be used 4 hours before the event. The client/coordinator must provide one ID in exchange of the bridal room key. A Php500.00 will be charged in case of lost key.</li>
          <li>Corkage fee for outside catering is Php8,000.00 and outside lights & sounds is Php2,000.00.</li>
          <li>The client shall be made responsible for the safety and security of their guests & belongings.</li>
          <li>Strictly no smoking inside the building.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
