.padding-5{
  padding: 5px;
}
.margin-top-5{
  margin-top: 5px;
}
.margin-bottom-5{
  margin-bottom: 5px;
}
img {
  object-fit: cover;
}
.toolbar{
  width: 100%;
}
.closeBtn{
  float: right;
}
.time{
  margin-top: 10px;
}
.rt{
  font-size: 11px;
  color: #808080;
  font-Weight: 500;
}
