<mat-toolbar>
  <div class="toolbar">
      <span>Booking Details</span>
      <button mat-icon-button color="warn" matTooltip="Close Dialog" (click)="doClose()" type="button" class="closeBtn"><mat-icon>close</mat-icon></button>
  </div>
</mat-toolbar>
<form [formGroup]="bookingForm" (ngSubmit)="doSubmit()">
  <mat-grid-list cols="2" rowHeight="600px">
      <mat-grid-tile>
          <div class="controls-container padding-5">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="FirstName" formControlName="firstName"/>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="LastName" formControlName="lastName"/>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Mobile Number" formControlName="mobileNumber"/>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="email" formControlName="email"/>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Number of guest" formControlName="numberOfguest"/>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Type of Event*</mat-label>
                <mat-select [(value)]="typeOfevent">
                  <mat-option value="Wedding">Wedding</mat-option>
                  <mat-option value="Debut">Debut</mat-option>
                  <mat-option value="Corporate">Corporate</mat-option>
                  <mat-option value="Birthday">Birthday</mat-option>
                  <mat-option value="Christening">Christening</mat-option>
                  <mat-option value="Others">Others</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Type of Hall*</mat-label>
                <mat-select [(value)]="typeOfhall">
                  <mat-option value="Function Hall 1 (up to 150 pax)">Function Hall 1 (up to 150 pax)</mat-option>
                  <mat-option value="Function Hall 2 (up to 150 pax)">Function Hall 2 (up to 150 pax)</mat-option>
                  <mat-option value="Function Hall 1&2 (up to 300 pax)">Function Hall 1&2 (up to 300 pax)</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" [min]="mindate" placeholder="Reqeust Date" formControlName="requestDate"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <label class="rt">Request Time:</label>
              <input type="time" formControlName="requestTime">
              <mat-form-field class="example-full-width time">
                <textarea matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5" placeholder="Special Request" formControlName="specialRequest"></textarea>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Status*</mat-label>
                <mat-select [(value)]="status">
                  <mat-option value="approved">Approved</mat-option>
                  <mat-option value="disapproved">Disapproved</mat-option>
                  <mat-option value="pending">Pending</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="button-row">
                <button mat-raised-button color="primary" type="submit">Submit</button>
              </div>
          </div>
      </mat-grid-tile>
  </mat-grid-list>
</form>
