/* You can add global styles to this file, and also import other style files */

form.normal-form{
  margin: 10px;
}
.controls-container > *{
  width: 100%;
}

.add-bottom-padding{
  padding-bottom: 10px;
}

mat-radio-group mat-radio-button{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.hide{
  display: none;
}

mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}

.search-div{
  margin:10px
}
.search-form-field{
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline{
  display: none;
}
.search-form-field div.mat.form.field.infix{
  border-top: 0px;
}
.search-form-field div.mat.form.field-wrapper{
  padding-bottom: 0px;
}
.search-form-field div.mat.mat.form.field.suffix button{
  height: 32px;
  width: 32px;
}
.btn-dialog-close{
  float: right;
}

.lark-green{
  background-color: rgb(25,140,98) !important;
}
.lark-red{
  background-color: rgb(208, 33, 47) !important;
}
.lark-pink{
  background-color: rgb(216,0,79) !important;
}
.lark-orange{
  background-color: rgb(245,122,41) !important;
}
.font-white{
  color: #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
