<div class="login-page">
  <div class="form">
    <h1>Admin Panel</h1>
    <div class="login-form">
      <input type="text" placeholder="username" #email/>
      <input type="password" placeholder="password" #password/>
      <button (click)="onlogIn(email, password)">login</button>
    </div>
  </div>
</div>
